.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

.loading {
  background-color: #282c34;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  color: white;
  min-width: 100vw;
}